.App {
  text-align: center;
}

.App {
  color: white;
  background-color: black;
  height: 100vh;
  /* background: fixed; */
  background-image: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/pokeball-rachel-cini.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.searchbar{
  background-color: #ff8c00;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
